.about-section__banner {
  margin: auto;
  width: 80vw;
  height: 40vh;
  background-image: url(/assets/banner.jpg);
  background-position: 10% 50%;
  background-size: cover;
  z-index: -10;
}

@media (max-width: 850px) {
  /* Banner */
  .about-section__banner {
    height: 25vh;
    background-position: 0 50%;
    margin: auto;
    width: 80vw;
    z-index: -11;
  }
}
