.header__container {
  width: 100%;
  top: 0;
  z-index: 9999;
}

.header {
  background-color: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 80px;
  padding: 30px 10%;
}

.header__logo {
  margin-right: auto;
  height: 40px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .header {
    z-index: 1;
  }
}

@media screen and (min-width: 850px) and (max-width: 1024px) {
  .container__header {
    z-index: 100;
  }
}
