<div class="section__container">
  <section class="section">
    <span class="section__name">Proyectos</span>
    <div class="section__items-container">
      <div class="cards__container d-flex align-items-center">
        <div class="card">
          <div
            class="card__img first-card d-flex align-items-center justify-content-center"
          ></div>
          <div class="card__text-container">
            <span class="project-name first__card">Mi Portfolio</span>
            <p class="project-description">
              Proyecto final de la segunda etapa de Argentina Programa
              <strong>#YoProgramo</strong>. En una primera instancia maquetado
              estáticamente con HTML, CSS, JS y BootStrap y posteriormente
              pasado a Angular. Para visitar el repositorio 👇🏻
            </p>
          </div>
          <a
            href="https://github.com/naddiaml/Portfolio-FrontEnd"
            class="card__button-href"
            target="_blank"
            ><button class="card__button gradient">
              Visitar proyecto |
              <i
                class="fa-solid fa-arrow-up-right-from-square external-link"
              ></i></button
          ></a>
        </div>
        <div class="card">
          <div
            class="card__img second-card d-flex align-items-center justify-content-center"
          ></div>
          <div class="card__text-container">
            <span class="project-name">MiDonApp</span>
            <p class="project-description">
              MiDonApp nació como una solución a una problemática social muy
              presente en mi comunidad. Busca mejorar en varios aspectos la
              convivencia social, teniendo como fin el desarrollo de las
              personas más necesitadas.
            </p>
          </div>
          <a href="#" class="card__button-href"
            ><button class="card__button gradient">
              Visitar proyecto |
              <i
                class="fa-solid fa-arrow-up-right-from-square external-link"
              ></i></button
          ></a>
        </div>
      </div>
    </div>
  </section>
</div>
