<nav class="nav">
  <input type="checkbox" name="" id="nav__checkbox" class="d-none" />
  <label for="nav__checkbox" class="nav_checkbox-label m-0">
    <i class="fa-solid fa-bars"></i>
  </label>
  <ul class="nav__links mb-0 ps-0">
    <li>
      <a href="https://www.instagram.com/naddiaml_/" target="_blank"
        ><i class="fa-brands fa-instagram text-black nav__link"></i
      ></a>
    </li>
    <li>
      <a href="https://twitter.com/naddiaml" target="_blank"
        ><i class="fa-brands fa-twitter text-black nav__link"></i
      ></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/nadia-mlinarevic/" target="_blank"
        ><i class="fa-brands fa-linkedin-in text-black nav__link"></i
      ></a>
    </li>
    <li>
      <a href="#" target="_blank"
        ><i class="fa-brands fa-github text-black nav__link"></i
      ></a>
    </li>
    <a href="editMode.html"
      ><button class="nav__button">Ingresar | Modo edición</button></a
    >
  </ul>
</nav>
