<div class="about-section__text-container">
  <p class="text-container__name">Nadia Mlinarevic</p>
  <p class="text-container__puesto">Full Stack Developer Jr.</p>
  <p class="text-container__description">
    Hola! Soy Nadia 🙋🏻‍♀️
    <br />
    → Tego 18 años y soy de Buenos Aires, Argentina.
    <br />
    → Soy ingresante a la carrera de Ingeniería en Sistemas y
    <span class="description__bold">Desarrolladora Web Full Stack Jr.</span>
    que busca capacitarse y mejorar constantemente en el área.
    <br />
    → Encuentro mi lugar en el área de IT porque puedo plasmar en distintos
    proyectos todas las cosas que me apasionan. Con el propósito de mejorar cada
    vez más, trato de perfeccionarme en este espacio en el cual me siento libre
    de crear, crecer y ser yo sin límites 🙌🏻.
  </p>
</div>
