<!-- Sección 3 · Skills -->
<div class="section__container">
  <section class="section">
    <p class="section__name">
      Skills
      <br />
      <span class="aclaracion">Según ruta de aprendizaje recomendada.</span>
    </p>
    <div class="section__items-container">
      <div
        class="skills__container d-flex align-items-center justify-content-between"
      >
        <div class="first__skill skill">
          <div class="skill-outer">
            <div class="skill-inner">
              <div class="skill__icon">
                <i class="fa-brands fa-html5 text-black"></i>
              </div>
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="160px"
            height="160px"
          >
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#F6D365" />
                <stop offset="100%" stop-color="#FDA085" />
              </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" />
          </svg>
        </div>

        <div class="second__skill skill">
          <div class="skill-outer">
            <div class="skill-inner">
              <div class="skill__icon">
                <i class="fa-brands fa-css3-alt text-black"></i>
              </div>
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="160px"
            height="160px"
          >
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#F6D365" />
                <stop offset="100%" stop-color="#FDA085" />
              </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" />
          </svg>
        </div>

        <div class="third__skill skill">
          <div class="skill-outer">
            <div class="skill-inner">
              <div class="skill__icon">
                <i class="fa-brands fa-bootstrap text-black"></i>
              </div>
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="160px"
            height="160px"
          >
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#F6D365" />
                <stop offset="100%" stop-color="#FDA085" />
              </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" />
          </svg>
        </div>
      </div>

      <div
        class="skills__container d-flex align-items-center justify-content-between"
      >
        <div class="fourth__skill skill">
          <div class="skill-outer">
            <div class="skill-inner">
              <div class="skill__icon">
                <i class="fa-brands fa-square-js text-black"></i>
              </div>
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="160px"
            height="160px"
          >
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#F6D365" />
                <stop offset="100%" stop-color="#FDA085" />
              </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" />
          </svg>
        </div>

        <div class="fifth__skill skill">
          <div class="skill-outer">
            <div class="skill-inner">
              <div class="skill__icon">
                <img
                  src="https://img.icons8.com/material-rounded/512/typescript.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="160px"
            height="160px"
          >
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#F6D365" />
                <stop offset="100%" stop-color="#FDA085" />
              </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" />
          </svg>
        </div>

        <div class="sixth__skill skill">
          <div class="skill-outer">
            <div class="skill-inner">
              <div class="skill__icon">
                <i class="fa-brands fa-angular text-black"></i>
              </div>
            </div>
          </div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            width="160px"
            height="160px"
          >
            <defs>
              <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#F6D365" />
                <stop offset="100%" stop-color="#FDA085" />
              </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" />
          </svg>
        </div>
      </div>
    </div>
  </section>
</div>
